@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --color-whitish: #d1e3dd;
  --color-bluish: #5762d5;
  --color-beru: #32292f;
}

.light {
  --bg-color: white;
  --text-color: black;
  --btn-bg: #e2e8f0;
  --btn-text: black;
}

.dark {
  --bg-color: #1a202c;
  --text-color: white;
  --btn-bg: #2d3748;
  --btn-text: white;
}

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}
